<div class="row g-4">
  <div class="col-md-6 col-xl-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h6 class="text-muted">💰 Faturamento</h6>

        <h3>R$ 0,00</h3>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h6 class="text-muted">👥 Sócios</h6>

        <h3>0</h3>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h6 class="text-muted">🛠 Serviços</h6>

        <h3>0</h3>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-xl-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h6 class="text-muted">💵 Vales</h6>

        <h3>R$ 0,00</h3>
      </div>
    </div>
  </div>
</div>
